/*
!/.gitignore
!/floorplan/
!/algo/
!/env/
!/scripts/
!/utils/
!/arguments.py
!/basic.yaml
!/main.py
!/analyze.py
!/eval.py
!/model.py
!/requirements.txt
!/README.md
!/build.sh
!/scenes/
!/example/
__pycache__/
